<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">

    <f:view>
        <ui:insert name="metadata"/>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./css/default.css" rel="stylesheet" type="text/css" />
            <link href="./css/layout.css" rel="stylesheet" type="text/css" />
            <ui:insert name="styles"/>
            <title>IF6AE - Segunda Avaliação 2014/1</title>
        </h:head>

        <h:body>
            <ui:insert name="javascript"/>
            <h:form>
                <ace:dataTable value="#{inscricaominicursojpa.findInscricaoMinicursoByNumero(1)}" var="insc">
                    <ace:column id="numeroCol" headerText="Numero">
                        <h:outputText value="#{insc.numero}"/>
                    </ace:column>
                    <ace:column id="cpfCol" headerText="CPF">
                        <h:outputText value="#{insc.cpf}"/>
                    </ace:column>
                    <ace:column id="nomeCol" headerText="Nome">
                        <h:outputText value="#{insc.nome}"/>
                    </ace:column>
                    <ace:column id="cidadeCol" headerText="Cidade">
                        <h:outputText value="#{insc.cidade}"/>
                    </ace:column>
                    <ace:column id="estadoCol" headerText="Estado">
                        <h:outputText value="#{insc.estado}"/>
                    </ace:column>
                </ace:dataTable>
            </h:form>
        </h:body>
    </f:view>
</html>
